<div class="card">
  <div class="card-header">
    <p-card>
      <h3 class="p-col-12">Diretor</h3>
      <span class="ui-float-label">
        

        
          <button type="button" class="btn btn-primary" [routerLink]="['/novoDiretor']" >Novo Diretor</button>
        
        
      </span>  
    </p-card>
  </div>
  

  <div class="card-body">
    <p-card>
      <table class="table table-horver">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let direto of diretores">
              <td>{{direto.id}}</td>
              <td>{{direto.nome}}</td>
              <td>
                <span class="float-right">
                  <button class="btn btn-outline-warning mb-1 btn-sm ">
                    atualizar
                  </button>
                  
                  <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onConfirmDelete(direto)">
                    Remover
                  </button>
                </span>
              </td>
          </tr>

        </tbody>

      </table>
    </p-card>
  </div>
</div>




  

