<div class="card">
    <div class="card-header">
      <p-card>
        <h3 class="p-col-12">Classe</h3>
        <span class="ui-float-label">
          
  
          
            <button type="button" class="btn btn-primary" [routerLink]="['/novaClasse']" >Nova Classe</button>
          
          
        </span>  
      </p-card>
    </div>
    
  
    <div class="card-body">
      <p-card>
        <table class="table table-horver">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Valor</th>
              <th>Data Devolução</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of classes">
                <td>{{c.id}}</td>
                <td>{{c.nome}}</td>
                <td>{{c.valor}}</td>
                <td>{{c.dataDevolucao}}</td>
                <td>
                  <span class="float-right">
                    <button class="btn btn-outline-warning mb-1 btn-sm ">
                      atualizar
                    </button>
                    
                    <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onConfirmDelete(c)">
                      Remover
                    </button>
                  </span>
                </td>
            </tr>
  
          </tbody>
  
        </table>
      </p-card>
    </div>
  </div>
  
  
  
  
    
  
  
