<p-card>
    <form class="needs-validation" novalidate [formGroup]= "form">
      

        <div class="form-row">
            
                <label for="nome">Titulo</label>
                <mat-form-field appearance="fill">
                    <mat-select  class="control-label" id="titulo" formControlName="titulo" >
                    <mat-option *ngFor="let titulo of titulos" [value]="titulo">{{titulo.nome}}</mat-option>
                    </mat-select>
                </mat-form-field> 

                <label for="nome">Tipo do Item</label>
                <mat-form-field appearance="fill">
                    <mat-select  class="control-label" id="tipo" formControlName="tipo" >
                    <mat-option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</mat-option>
                    </mat-select>
                </mat-form-field> 


                
          
        </div>  
        
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <label for="datee">Data de Aquisição</label>
          <input type="text"
                 placeholder="Data de Aquisição"
                 class="form-control"
                 id = "dataAquisicao"
                 formControlName="dataAquisicao"
                 [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                 bsDatepicker>
        </div>
        <br>


      <div style="margin-top: 10px;">
        <button type="sumit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
        <button type="sumit" class="btn btn-default" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
</p-card>
    
    
